# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/*.bak
/exe-dll-diff/build/Debug
/exe-dll-diff/build/Release
/exe-dll-diff/build/*.layout
/exe-dll-diff/build/vc100.idb
/exe-dll-diff/build/vc100.pdb
